
::placeholder {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #999999;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

.title {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 79px;
    color: #373A3C;
    margin-top: 100px;
    margin-left: 164px;
}

.fibonacci-text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    color: #373A3C;
    margin-top: 57px;
    margin-left: 169px;
}

.input-bar {
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 4px;
    margin-left: 13px;
    width: 86px;
    height: 38px;
}

.my-button {
    background: #0275D8;
    border: 1px solid #0275D8;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    margin-left: 13px;
    width: 39px;
    height: 38px;
}

.result {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #373A3C;
    margin-left: 13px;
}
.spinner {
    position: absolute;
    top: 190px;
}
.alert {
    width: 210px;
    margin-left: 341px;
    margin-top: 8px;  
}
.class42 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #D9534F;
    margin-left: 8px;
}
.resultH {
    position: relative;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 54px;
    line-height: 72px;
    color: #373A3C;
    left: 164px;
    top: 58px;
}
.spinnerPos {
    margin-top: 145px;
    margin-left: 170px;
}
.resultHistory {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    color: #373A3C;
    margin-left: 164px;
    margin-top: 58px;
}
.resultHistory hr {
    width: 1088px;
    height: 0px;
    margin-left: 0px;
    margin-top: 41px;
    border: 1px solid #000000;
}
.myCheck {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #373A3C;
    margin-left: 167px;
}